body {
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: repeat-x;
  background-color: #e0e8ff;
  background-position: top;
  background-size: contain;
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  color: #7280a7;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  height: 100vh;
  display: flex;
  margin: 0 auto 0 auto;
}

h1 {
  font-weight: 900;
  color: #1f2f56;
  margin-bottom: 10px;
}
h3 {
  margin: 0 auto 3px auto;
  font-size: 1rem;
  padding: 0;
  color: #1f2f56;
  display: inline-block;
  font-weight: 900;
}
a:link, a:active, a:visited {
  color: #382AE1;
  font-weight: bold;
}
a:hover {
  color: black;
}
/**************CLASSES START HERE*************************************/

.main {
  background-color: white;
  width: 450px;
  margin: auto;
  border-radius: 20px;
  padding: 0 0 50px 0;
}

.top-image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: url(../images/illustration-hero.svg);
  background-repeat: repeat-x;
  background-position: center;
  height: 210px;
}

.order-text {
  margin: 10% auto 3% auto;
  padding: 0 10% 0 10%;
}
.order-summary {
  background-color: #F8F9FE;
  border-radius: 12px;
  width: 70%;
  margin: 5% auto 5% auto;
  text-align: center;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  text-align: left;
  padding: 2%;
  margin: 0;
}
.music-img {
  float: left;
  margin: 0 10px 0 0;
}

.change {
  padding: 10px;
  text-align: center;
  margin: 0;
}

.payment:link, .payment:active, .payment:visited {
  background-color: #382AE1;
  border-radius: 12px;
  width: 75%;
  margin: 0 auto 20px auto;
  text-align: center;
  padding: 10px;
  display: block;
  color: white;
  text-decoration: none;
}
.payment:hover {
  background-color: black;
}
.cancel:link, .cancel:active, .cancel:visited {
  color: #7280a7;
  text-decoration: none;
}
.cancel:hover {
  color: #382AE1;
}



/* RESPONSIVE DESIGN */
@media (max-width:1080px) {
  body {
    background-image: url('../images/pattern-background-mobile.svg');
    height: 100%;
  }

  .main {
    width: 80%;
    margin: 2% auto 2% auto;
  }


}
